@import 'partials/_view_application';

.js-visible {
  display: none !important;
}
.js-enabled .js-visible {
  display: inline-block !important;
}

.wrappable {
    display: inline-block;
    word-break: break-word;
}


@media(min-width: 40.0625em) {
    .segmented-commodity-code span {
        padding:0 .12em
    }
}