@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukRadios: GovukRadios,
    govukButton: GovukButton
)

@(form: Form[_], mode: Mode)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(form, messages("isTheSaleSubjectToConditions.title"))) {

    @formHelper(action = routes.IsTheSaleSubjectToConditionsController.onSubmit(mode), 'autoComplete -> "off") {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form))
        }

        @govukRadios(
            RadiosViewModel.yesNo(
                field = form("value"),
                legend = LegendViewModel(messages("isTheSaleSubjectToConditions.heading")).asPageHeading()
            )
        )

        @govukButton(
            ButtonViewModel(messages("site.continue"))
        )
    }
}
